{% extends 'base.html' %}
{% load static %}


{% block content %}
	<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li class="breadcrumb-item"><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="breadcrumb-item active">Halaman Registrasi</li>
			</ol>
		</div>
	</div>
	<!-- //breadcrumbs -->
	<!-- register -->
	<div class="register">
		<div class="container">
			<h2>Registrasi</h2>
			<div class="login-form-grids">
				<form action="#" method="post">
					{% csrf_token %}

					{% for field in form %}
					<div class="form-group">
						{{ field.label_tag }}<br>
						{{ field }}
						{% if field.help_text %}
						<small style="color: grey">{{ field.help_text }}</small>
						{% endif %}
						{% for error in field.errors %}
						<p style="color: red">{{ error }}</p>
						{% endfor %}
					</div>
					{% endfor %}
					<input type="submit" value="Register">
				</form>
			</div>
			<div class="register-home">
				<a href="{% url 'index' %}">Home</a>
			</div>
		</div>
	</div>
	<!-- //register -->
{% endblock %}