{% load static %}
{% include 'header.html' %}


<div class="container py-5">
	<div class="row mb-4">
		<div class="col text-center">
			<h3>Checkout</h3>
		</div>
	</div>
    <div class="row pt-2 pb-5">
        <div class="col-8 border-bottom rounded">
			<div class="row mb-5 border rounded">
				<div class="col-12 py-3">
                    <h5 class="border-bottom mb-2 pb-2">Alamat pengiriman</h5>
                </div>

                <div class="col-12 py-3 text-center">
                    <span class="h6 pb-3 mb-3">Alamat pengiriman tidak ada</span>
                </div>
                <div class="col-12 py-3 text-center">
                    <button class="btn btn-success col-3">Tambah alamat</button>
                </div>
			</div>

            <div class="row">
                <div class="col-3">
                    <img class="img-fluid" src="{% static 'website/images/prangko 2.jpg' %}" alt="">
                </div>
                <div class="col">
                    <div class="mb-2">
                        <h6>Nama produk</h6>
                    </div>
                    <div class="">
                        <span class="text-red1 font-weight-bold">
                            Rp. 100.000
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col py-3 border rounded ml-4">
            <div class="row mb-4">
                <div class="col">
                    <h6>Ringkasan belanja</h6>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <span>Total Harga</span>
                </div>
                <div class="col text-right">
                    <span>Rp. 100.000</span>
                </div>
			</div>
			
			<div class="row border-bottom pb-3 mb-3">
                <div class="col">
                    <span>Ongkos kirim</span>
                </div>
                <div class="col text-right">
                    <span>Rp. 10.000</span>
                </div>
			</div>
			
			<div class="row mb-4">
                <div class="col">
                    <h5>Total tagihan</h5>
                </div>
                <div class="col text-right">
                    <h5>Rp. 110.000</h5>
                </div>
            </div>

            <div class="row my-2">
                <a class="btn btn-yellow col-8 mx-auto font-weight-bold" href="{% url 'checkout' %}">Bayar</a>
            </div>
        </div>
    </div>
</div>


{% include 'footer.html' %}