{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %} | D'KantorPOS</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //for-mobile-apps -->
    <!-- <link href="{% static 'website/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" /> -->
    <link href="{% static 'website/bootstrap-4.5.2/css/bootstrap.css' %}" rel="stylesheet" type="text/css"
    media="all" />
    <link href="{% static 'website/css/bootstrap_extra.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'website/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />

    <!-- font-awesome icons -->
    <link href="{% static 'website/css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="{% static 'website/js/jquery-3.5.1.min.js' %}"></script>
    <!-- //js -->
    
    <!-- raleway -->
    <!-- href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' -->
    <link href="{% static 'website/css/FONT_raleway.css' %}" rel='stylesheet' type='text/css'>

    <!-- open sans -->
    <!-- href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' -->
    <link href="{% static 'website/css/FONT_open_sans.css' %}" rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="{% static 'website/js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/easing.js' %}"></script>
    <!-- jQuery -->
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> -->
        {% block css %}{% endblock %}
</head>

<body>
<!-- navigation -->
<nav class="navbar navbar-expand-lg navigation-agileits navbar-dark">
    <div class="container-fluid px-5">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'website/images/dkantorpos.png' %}" alt="" style="width: 200px; height: 40px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" 
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'browse' 'produk' %}">Browse Produk</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'browse' 'properti' %}">Browse Properti</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'daftar_transaksi' %}"> Daftar Transaksi</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'contact' %}">Kontak</a></li>
            </ul>
            <form action="{% url 'search' %}" method="GET" class="form-inline ml-4 lg-form my-2 my-lg-0">
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm" placeholder="Search" name="q">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-light" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav ml-auto align-items-center">
                    {% if user.is_authenticated %}
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link text-white" data-toggle="dropdown">
                            {{ user.first_name }}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right px-3" style="font-size: 14px;">
                            <div class="col px-0 pt-2 pb-3">
                                <!-- <a class="dropdown-item h5 pl-0 font-weight-bold" href="{% url 'profil' %}" style="color: #fe9126;">
                                    Profil
                                </a> -->
                                <span class="h5 pl-0 font-weight-bold" style="color: #fe9126;">
                                    Profil
                                </span>
                                <div class="dropdown-divider"></div>
                                <!-- <a class="dropdown-item pl-0" href="#">Pengaturan</a> -->
                                <a class="dropdown-item pl-0" href="{% url 'logout' %}">Log out</a>
                            </div>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'register' %}">Registrasi</a></li>
                    <li class="ml-0 nav-item"><a class="nav-link text-white" href="{% url 'login' %}">Masuk</a></li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'keranjang' %}" style="font-size: 24px;">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                    </li>

            </ul>
        </div>
    </div>
</nav>

<div id="content py-2">
    {% block content %}{% endblock %}
</div>

<!-- footer -->
<div class="footer">
    <div class="container">
    </div>
    <div class="footer-copy">
        <div class="container">
            <p>© 2020 D'KantorPOS. All rights reserved</p>
        </div>
    </div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'website/bootstrap-4.5.2/js/bootstrap.bundle.min.js' %}"></script>
<!-- <script src="{% static 'website/js/bootstrap.min.js' %}"></script> -->

<!-- main slider-banner -->
<script src="{% static 'website/js/skdslider.min.js' %}"></script>
<link href="{% static 'website/css/skdslider.css' %}" rel="stylesheet">
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#demo1').skdslider({ 'delay': 5000, 'animationSpeed': 2000, 'showNextPrev': true, 'showPlayButton': true, 'autoSlide': true, 'animationType': 'fading' });

        jQuery('#responsive').change(function () {
            $('#responsive_wrapper').width(jQuery(this).val());
        });

});
</script>
<script src="{% static 'website/js/format-rupiah.js' %}"></script>
{% block js %}{% endblock %}
<!-- //main slider-banner -->
</body>

</html>