{% load static %}
{% include 'header.html' %}
	<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li class="breadcrumb-item"><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="breadcrumb-item active">{{ item.nama_item }}</li>
			</ol>
		</div>
	</div>
	<!-- //breadcrumbs -->
<!--Product Page-->
{% block content %}
<div class="container py-3 px-4">
  <div class="row">
    <div class="col-sm-11 col-md-12 col-lg-12" style="padding-right: 0; padding-left: 0;">
        <!-- product -->
        <div class="product-content product-wrap clearfix product-deatil">
          <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
              <div class="product-image py-2">
				<!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active"> -->
							<img class="w-100" src="{{ item.foto.url }}">
						<!-- </div>
						<div class="carousel-item">
							<img class="w-100" src="{{ item.foto.url }}" alt="Second slide">
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div> -->
              </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
            <h2 class="name">
              {{ item.nama_item }}
			</h2>
              <small>Product by <a href="javascript:void(0);">PT. Pos Indonesia</a></small>
			  <br />
              <i class="fa fa-star gold-star"></i>
              <i class="fa fa-star gold-star"></i>
              <i class="fa fa-star gold-star"></i>
              <i class="fa fa-star gold-star"></i>
              <i class="fa fa-star greystar"></i>
              <span class="fa fa-2x"><h5>(109) Votes</h5></span>
              <a href="javascript:void(0);">109 customer reviews</a>
            <hr />
            <h3 class="price-container">
              Rp. {{ item.harga }}
              <small>*includes tax</small>
            </h3>
			<br />
            <div class="certified">
              <ul>
                <li>
                  <a href="javascript:void(0);">Delivery time <span> 2 Working Days</span></a>
                </li>
                <li>
                  <a href="javascript:void(0);">Certified <span> Quality Assured</span></a>
                </li>
              </ul>
            </div>
            <hr />
            <div class="description description-tabs">
              <ul id="myTab" class="nav nav-pills nav-justified">
                <li class="nav-item"><a class="nav-link active" href="#more-information" data-toggle="tab" class="no-margin">Deskripsi Produk</a></li>
                <li class="nav-item"><a class="nav-link" href="#specifications" data-toggle="tab">Spesifikasi</a></li>
                <li class="nav-item"><a class="nav-link" href="#reviews" data-toggle="tab">Ulasan</a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade show active" id="more-information">
                  <br />
                  <strong>Description Title</strong>
                  <p>
                    {{ item.deskripsi}}
                  </p>
                </div>
                <div class="tab-pane fade" id="specifications">
                  <br />
                  <dl class="">
                    <dt>Gravina</dt>
                    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                    <dd>Eget lacinia odio sem nec elit.</dd>
                    <br />

                    <dt>Test lists</dt>
                    <dd>A description list is perfect for defining terms.</dd>
                    <br />

                    <dt>Altra porta</dt>
                    <dd>Vestibulum id ligula porta felis euismod semper</dd>
                  </dl>
                </div>
                <div class="tab-pane fade" id="reviews">
                  <br />
                  <form method="post" class="well padding-bottom-10" onsubmit="return false;">
                    <textarea rows="2" class="form-control" placeholder="Write a review"></textarea>
                    <div class="margin-top-10">
                      <button type="submit" class="btn btn-sm btn-primary pull-right">
                        Submit Review
                      </button>
                      <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Location"><i class="fa fa-location-arrow"></i></a>
                      <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Voice"><i class="fa fa-microphone"></i></a>
                      <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Photo"><i class="fa fa-camera"></i></a>
                      <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add File"><i class="fa fa-file"></i></a>
                    </div>
                  </form>
				  <!--
                  <div class="chat-body no-padding profile-message">
                    <ul>
                      <li class="message">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="online" />
                        <span class="message-text">
                          <a href="javascript:void(0);" class="username">
                            Alisha Molly
                            <span class="badge">Purchase Verified</span>
                            <span class="pull-right">
                              <i class="fa fa-star fa-2x gold-star"></i>
                              <i class="fa fa-star fa-2x gold-star"></i>
                              <i class="fa fa-star fa-2x gold-star"></i>
                              <i class="fa fa-star fa-2x gold-star"></i>
                              <i class="fa fa-star fa-2x gray-star"></i>
                            </span>
                          </a>
                          Can't divide were divide fish forth fish to. Was can't form the, living life grass darkness very image let unto fowl isn't in blessed fill life yielding above all moved
                        </span>
                        <ul class="list-inline font-xs">
                          <li>
                            <a href="javascript:void(0);" class="text-info"><i class="fa fa-thumbs-up"></i> This was helpful (22)</a>
                          </li>
                          <li class="pull-right">
                            <small class="text-muted pull-right ultra-light"> Posted 1 year ago </small>
                          </li>
                        </ul>
                      </li>
                      <li class="message">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="online" />
                        <span class="message-text">
                          <a href="javascript:void(0);" class="username">
                            Aragon Zarko
                            <span class="badge">Purchase Verified</span>
                            <span class="pull-right">
                              <i class="fa fa-star fa-2x gold-star"></i>
                              <i class="fa fa-star fa-2x gold-star"></i>
                              <i class="fa fa-star fa-2x gold-star"></i>
                              <i class="fa fa-star fa-2x gold-star"></i>
                              <i class="fa fa-star fa-2x gray-star"></i>
                            </span>
                          </a>
                          Excellent product, love it!
                        </span>
                        <ul class="list-inline font-xs">
                          <li>
                            <a href="javascript:void(0);" class="text-info"><i class="fa fa-thumbs-up"></i> This was helpful (22)</a>
                          </li>
                          <li class="pull-right">
                            <small class="text-muted pull-right ultra-light"> Posted 1 year ago </small>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
				  -->
                </div>
              </div>
            </div>
            <hr />
            <div class="row mb-4">

              <div class="input-group flex-nowrap col-3">
                <div class="input-group-prepend">
                  <button id="btn-kurang-qty" class="btn btn-light border"> − </button>
                  <!-- <span class="input-group-text" id="addon-wrapping"><</span> -->
                </div>
                <input id="qty" type="text" class="form-control text-center px-2" value="1" disabled>
                <div class="input-group-append">
                  <button id="btn-tambah-qty" class="btn btn-light border"> + </button>
                  <!-- <span class="input-group-text" id="addon-wrapping"><</span> -->
                </div>
              </div>

              <div class="snipcart-details top_brand_home_details col-sm-12 col-md-4 col-lg-8" style="margin:0">
                <input id="btn-keranjang" class="btn button shadow-sm ml-2" value="Beli">
              </div>
            </div>
            <button class="btn btn-white btn-default pull-right col-lg-6"><i class="fa fa-star"></i> Add to wishlist</button>
			      <button class="btn btn-white btn-default col-lg-6"><i class="fa fa-envelope"></i> Contact Seller</button>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>

<form id="form-keranjang" action="{% url 'keranjang' %}" method="post">
  {% csrf_token %}
  <input type="text" name="action" id="" value="add" hidden>
  <input type="number" name="qty" id="input-qty" value="" hidden>
  <input type="text" name="id_item" id="input-id-item" value="{{ item.id }}" hidden>
  <input type="submit" hidden>
</form>

<script>
  $('document').ready(function () {
    $('#btn-keranjang').on('click', function() {
      // jika qty negatif atau 0, qty dijadikan 1
      let qty = $('#qty').val()
      if (qty < 1){
        qty = 1
      }
      $('#input-qty').val(qty)
      $('#form-keranjang').submit()
    })

    $('#btn-tambah-qty').on('click', function() {
      let qty = parseInt($('#qty').val())+1
      $('#qty').val(qty)
    })
    $('#btn-kurang-qty').on('click', function() {
      let qty = parseInt($('#qty').val())
      if (qty <= 1) {
        return
      }
      qty = qty-1
      $('#qty').val(qty)
    })
  })
</script>

{% endblock %} 
<!-- end product -->
{% include 'footer.html' %}