{% load static %}
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="row ml-3">
				<div class="col-sm-12 col-md-3 w3_footer_grid">
					<h3>Kontak</h3>
					<ul class="address">
						<li><i class="fa fa-map-marker" style="font-size: 22px;" aria-hidden="true"></i>Jln. K. A. Rivai No. 63, <span>Palembang 30135.</span></li>
						<li><i class="fa fa-phone" style="font-size: 20px;" aria-hidden="true"></i>0711-350228</li>
					</ul>
				</div>
				<div class="col-sm-12 col-md-3 w3_footer_grid">
					<h3>Informasi</h3>
					<ul class="info"> 
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Tentang Kami</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="{% url 'contact' %}">Hubungi Kami</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Short Codes</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">FAQ's</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Produk Spesial</a></li>
					</ul>
				</div>
				<div class="col-sm-12 col-md-3 w3_footer_grid">
					<h3>Kategori</h3>
					<ul class="info"> 
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Benda POS</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Co-Working Space</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Profil</h3>
					<ul class="info"> 
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Toko</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="{% url 'checkout' %}">Keranjang</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="{% url 'login' %}">Login</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="{% url 'register' %}">Registrasi</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

		<div class="footer-copy">

			<div class="container">
				<p>© 2020 Di Kantor POS. All rights reserved | Design by <a href="#">Pakem</a></p>
			</div>
		</div>
	</div>	
	<!--div class="footer-bottom">
		<div class="container">
			<div class="w3layouts-foot">
				<ul>
					<li><a href="https://www.facebook.com/252949941427014/posts/pt-pos-indonesia-persero-salurkan-blsm-2013nomor-26pr0613bandung-22-juni-2013-pt/521604657894873/" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="https://twitter.com/PosIndonesia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="https://www.instagram.com/posindonesia.ig/?hl=id" class="w3_agile_dribble"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="payment-w3ls">	
				<img src="" alt=" " class="img-responsive">
			</div>
		</div>
	</div-->
	<!-- //footer -->	
	<!-- Bootstrap Core JavaScript -->
	<script src="{% static 'website/bootstrap-4.5.2/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'website/js/bootstrap.min.js' %}"></script>


	<!-- top-header and slider -->
	<script src="{% static 'website/js/minicart.min.js' %}"></script>

	<!-- main slider-banner -->
	<script src="{% static 'website/js/skdslider.min.js' %}"></script>
	<link href="{% static 'website/css/skdslider.css' %}" rel="stylesheet">
	<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});

			jQuery('#responsive').change(function(){
				$('#responsive_wrapper').width(jQuery(this).val());
			});

		});
	</script>	
	<!-- //main slider-banner --> 
	</body>
</html>