
<!--author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>D'Kantor Pos</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- //for-mobile-apps -->
<!-- <link href="{% static 'website/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" /> -->
<link href="{% static 'website/css/bootstrap_margin_padding.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'website/bootstrap-4.5.2/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'website/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />

<!-- font-awesome icons -->
<link href="{% static 'website/css/font-awesome.css' %}" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="{% static 'website/js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'website/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
<body>
	<!-- navigation -->
	<form class="form-inline my-2 my-lg-0 right">
   		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
   		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <div class="nav-item right">  
		<form action="#" method="post" class="last"> 
			<input type="hidden" name="cmd" value="_cart">
			<input type="hidden" name="display" value="1">
			<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
		</form>  
	</div>
	<nav class="navbar navbar-expand-lg navigation-agileits navbar-dark py-1 px-4">
		<!-- <a class="navbar-brand" href="#">_LogoPos_</a> -->
	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				Kategori
			</a>
			<div class="dropdown-menu multi-column columns-3">
				<div class="row">
					<div class="multi-gd-img">
						<ul class="multi-column-dropdown">
							<h6>Semua Kategori</h6>
							<li><a href="#">Benda POS</a></li>
							<li><a href="#">Co-Working Space</a></li>
						</ul>
					</div>	
				</div>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white" href="#">Belanja</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white" href="#">Konfirmasi Pembayaran</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white" href="{% url 'contact' %}">Kontak</a>
		</li>

		{% if user.is_authenticated %}
		<li class="dropdown nav-item">
			<a href="#" class="dropdown-toggle nav-link text-white" data-toggle="dropdown">
				{{ user.get_username }}<b class="caret"></b>
			</a>
			<ul class="dropdown-menu multi-column columns-3">
				<div class="row">
					<div class="multi-gd-img">
						<ul class="multi-column-dropdown">
							<h6>Profile</h6>
							<li><a href="#">Pengaturan</a></li>
							<li><a href="{% url 'logout' %}">Log out</a></li>
						</ul>
					</div>	

				</div>
			</ul>
		</li>
		{% else %}
		<li class="nav-item"><a class="nav-link text-white" href="{% url 'register' %}">Registrasi</a></li>
		<li class="ml-0 nav-item"><a class="nav-link text-white" href="{% url 'login' %}">Masuk</a></li>
		{% endif %}
	</ul>
</div>
</nav>
<!-- //navigation 