{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}
{% block css %}
<link href="{% static 'website/css/produk.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	{% if items %}
	<div class="newproducts-w3agile ">
		<div class="container py-5">
			<h3 class="mb-5">
				{% if BROWSE_PROPERTI %}
					Properti
				{% else %}
					Produk
				{% endif %}
			</h3>
			<div class="row">
				{% if BROWSE_PROPERTI %}
					{% for item in items %}
						{% include 'includes/konten.html' with colclass='col-lg-3 col-md-3 col-sm-4 col-6 mb-4 py-4' PROPERTI=True %}
					{% endfor %}
				{% else %}
					{% for item in items %}
						{% include 'includes/konten.html' %}
					{% endfor %}
				{% endif %}
			</div>
			<div class="row">
				<div class="mx-auto">
					{% include 'includes/pagination.html' with pag_obj=items %}
				</div>
			</div>
		</div>
	</div>	
	{% else %}
	<!-- main-slider -->
	<div class="mx-auto">
		<ul id="demo1">
			<li>
				<img src="{% static 'website/images/kantorpos1.jpg' %}" alt="" style="width:100%; max-height: 600px;" />
				<!--Slider Description example-->
				<!--div class="slide-desc">
					<h3>----------</h3>
				</div-->
			</li>
			<!-- <li>
				<img src="{% static 'website/images/kantorpos1.jpg' %}" alt="" />
				<div class="slide-desc">
					<h3>Whole Spices Products Are Now On Line With Us</h3>
				</div>
			</li>
			<li>
				<img src="{% static 'website/images/kantorpos1.jpg' %}" alt="" />
				<div class="slide-desc">
					<h3>Whole Spices Products Are Now On Line With Us</h3>
				</div>
			</li> -->
		</ul>
	</div>
	<!-- //main-slider -->
	<!-- //top-header and slider -->
	<div class="newproducts-w3agile">
		<div class="container">
			<div class="row">
				<div class="col pb-5">
					<h3 class="mb-3">Produk</h3>
					<div class="row">
						{% for item in shelf_barang %}
							{% include 'includes/konten.html' %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col pb-5">
					<h3 class="mb-3">Work space</h3>
					<div class="row">
						{% for item in shelf_workspace %}
							{% include 'includes/konten.html' with colclass='col-lg-3 col-md-3 col-sm-4 col-6 mb-4 py-4' PROPERTI=True %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block js %}
<script src="{% static 'website/js/format-rupiah.js' %}"></script>
{% endblock %}