{% load static %}
{% include 'header.html' %}
	
	<!-- new -->
	{% block content %}
	{% if item_list %}
	<div class="newproducts-w3agile">
		<div class="container">
			<h3 class="mb-5">Produk List</h3>
			<div class="row">
				{% for item in item_list %}
					{% include 'konten.html' %}
				{% endfor %}
			</div>
		</div>
	</div>	
	{% else %}
	<!-- main-slider -->
	<div class="mx-auto">
		<ul id="demo1">
			<li>
				<img src="{% static 'website/images/kantorpos1.jpg' %}" alt="" />
				<!--Slider Description example-->
				<div class="slide-desc">
					<!--<h3>Buy Rice Products Are Now On Line With Us</h3>-->
				</div>
			</li>
			<li>
				<img src="{% static 'website/images/kantorpos1.jpg' %}" alt="" />
				<div class="slide-desc">
					<!--<h3>Whole Spices Products Are Now On Line With Us</h3>-->
				</div>
			</li>

			<li>
				<img src="{% static 'website/images/kantorpos1.jpg' %}" alt="" />
				<div class="slide-desc">
					<h3>Whole Spices Products Are Now On Line With Us</h3>
				</div>
			</li>
		</ul>
	</div>
	<!-- //main-slider -->
	<!-- //top-header and slider -->
	<div class="newproducts-w3agile">
		<div class="container">
			<h3 class="mb-5">Produk Baru</h3>
			<div class="row">
				{% for item in shelf %}
					{% include 'konten.html' %}
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
	{% endblock %}
	<!-- //new -->
{% include 'footer.html' %}