{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'website/css/keranjang.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
Keranjang
{% endblock %}
{% block content %}
<div class="loader"></div>

<!-- breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1">
			<li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
			<li class="active">Checkout Page</li>
		</ol>
	</div>
</div>
<!-- //breadcrumbs -->
<!-- checkout -->
<div class="checkout">
	<div class="container">
		<!-- <h2>Your shopping cart contains: <span>3 Products</span></h2> -->
		<div class="checkout-right table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
                        <td scope="col" class="text-center"></td>
                        <td scope="col" class="pl-4" style="max-width:360px">Deskripsi produk</td>
						<td scope="col" class="text-center" style="width:100px">Harga</td>
						<td scope="col" class="text-center" style="width:120px">Qty</td>
						<!-- <th scope="col" class="text-center">Total</th> -->
						<td scope="col" style="min-width:70px">&nbsp;</td>
					</tr>
				</thead>
				<tbody>
                    {% for item_keranjang in items %}
					<tr id="row-item-keranjang-{{ item_keranjang.id.hex }}" class="padded-row">
						<td scope="col" class="hidden-xs text-center" style="width:200px">
							<a href="{% url 'detail_product' item_keranjang.produk.id.hex %}"><img src="{{ item_keranjang.produk.foto.url }}" alt="..." class="img-responsive" style="object-fit: cover; max-height:180px;max-width:180px" /></a>
                        </td>
                        <td class="pl-4">
                            <a href="{% url 'detail_product' item_keranjang.produk.id.hex %}"><h5 class="nomargin">{{ item_keranjang.produk.nama_item }}</h5></a>
                            <p>{{ item_keranjang.produk.nama_produk}}</p>
                        </td>
						<td class="text-center">
                            <span class="convert-rupiah font-weight-bold">{{ item_keranjang.produk.harga}}</span>
                        </td>
						<td class="text-center">
							<div class="input-group flex-nowrap mx-auto" style="width: 70px;">
								<div class="input-group-prepend">
								  <!-- <button id="" class="btn-qty-{{item_keranjang.id}} btn-kurang-qty btn btn-sm btn-light border" onclick="changeQty(this, -1)" data-item-keranjang="{{item_keranjang.id}}"> − </button> -->
								  <!-- <span class="input-group-text" id="addon-wrapping"><</span> -->
								</div>
								<input type="number" min="1" id='qty-{{item_keranjang.id.hex}}' data-qty-id="{{item_keranjang.id.hex}}" class="input-qty form-control form-control-sm text-center px-2 bg-white" value="{{item_keranjang.qty }}" data-server-qty="{{ item_keranjang.qty}}">
								<!-- <div class="input-group-append"> -->
								  <!-- <button id="" class="btn-qty-{{item_keranjang.id}} btn-tambah-qty btn btn-sm btn-light border" onclick="changeQty(this, 1)" data-item-keranjang="{{item_keranjang.id}}"> + </button> -->
                                  <!-- <span class="input-group-text" id="addon-wrapping"><</span> -->
                                <!-- </div> -->
                            </div>
                            <div id="qty-button-{{item_keranjang.id.hex}}" class="qty-btn" style="display: none;">
                                <a id="" class="cancel-qty ml-1 small align-middle my-auto" href="" data-qty-id="{{item_keranjang.id.hex}}">
                                    Cancel</a>
                                <a id="" class="update-qty ml-1 small align-middle my-auto" href="" data-qty-id="{{item_keranjang.id.hex}}"
                                data-item-keranjang="{{item_keranjang.id.hex}}">Update</a>
                            </div>
                            
						</td>
						<!-- <td>
                            <span  id='total-item-{{item_keranjang.id}}' class="convert-rupiah">{{ item_keranjang.subtotal }}</span>
                        </td> -->
						<td class="text-right pr-4">
                            <button type="button" class="btn btn-danger btn-modal-hapus" data-toggle="modal" data-target="#modalhapus" data-item-keranjang="{{ item_keranjang.id.hex }}">
                                <i class="fa fa-trash"></i>
                            </button>
							<!-- <button class="btn btn-danger btn_hapus" data-item-keranjang="{{ item_keranjang.id.hex }}"></button> -->
						</td>
                    </tr>
                    {% endfor %}
				</tbody>
				<br>
				<thead>
					<tr>
						<th scope="col" colspan="3" class="text-right pr-3">Subtotal (<span id="jumlah-item">{{ keranjang.jumlah_item }}</span> item): </th>
                        <th scope="col" id='total-keranjang'  class="h5 text-center convert-rupiah font-weight-bold">{{ keranjang.total }}</th>
                        <th scope="col" class="text-center">&nbsp;</th>
					</tr>
				</thead>
			</table>	
		</div>
		<br>
		<br>
		<div class="col">
			<div class="row">
				<div class="col">
					<a class="btn btn-warning text-white" style="height:60px; width: 100px;" href="{% url 'index' %}">Lanjutkan Belanja</a>
				</div>
				<div class="col text-right" >
					<a  class="btn btn-primary" style="height:60px; width: 100px;" href="{% url 'checkout' %}">
                        Checkout
                    </a>
				</div>
			</div>
		</div>			
	</div>
</div>
<!-- //checkout -->
<!-- Modal -->
<div class="modal fade" id="modalhapus" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hapus item?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- <div class="modal-body">
            </div> -->
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Batal</button>
                <button type="button" id="btn-hapus" class="btn btn-danger" data-item-keranjang="">Hapus</button>
            </div>
        </div>
    </div>
</div>
{% csrf_token %}

<script src="{% static 'website/js/format-rupiah.js' %}"></script>
<script>
    // QTY
    function updateQty(btn){
        let btn_checkout = $('#btn-checkout')
        $(btn_checkout).addClass("disabled");
        setTimeout(function () {
            let csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val()
            let id_item_keranjang = $(btn).data('item-keranjang')
            let qty = $(`#qty-${id_item_keranjang}`).val()

            $.ajax({
                url: `{% url 'keranjang_ajax' 'update_qty' %}`,
                type: 'POST',
                data:{
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    id_item_keranjang: id_item_keranjang,
                    qty: qty
                },
                success: function(data) {
                    //console.log(data)
                    updateRupiah($('#total-keranjang'), data['total'])
                    updateRupiah($(`#total-item-${id_item_keranjang}`), data['subtotal'])
                    $('#jumlah-item').text(data['jumlah_item'])
                    $('#qty-'+id_item_keranjang).attr('data-server-qty', qty)
                },
                error: function(data){
                    let oldval = $('#qty-'+id_item_keranjang).attr('data-server-qty')
                    $('#qty-'+id_item_keranjang).val(oldval)
                    alert("Jumlah qty tidak tersedia")
                }
            });
            $(btn_checkout).removeClass("disabled");
        }, 200)
    }
    function changeQty(btn, num) {
        let id_item_keranjang = $(btn).data('item-keranjang')
        let qty_field = $(`#qty-${id_item_keranjang}`)
        let qty = parseInt($(qty_field).val())

        // jika qty < 1, do nothing
        if (qty+num < 1) {
            return
        }

        // Ubah field qty
        $(qty_field).val(qty+num)

        // disable button qty
        $(`.btn-qty-${id_item_keranjang}`).each(function () {
            $(this).attr("disabled", true);
        }); 

        // ubah qty di server
        updateQty(btn)

        $(document).ajaxStop(function(){
            // enable btn qty
            $(`.btn-qty-${id_item_keranjang}`).each(function () {
                $(this).attr("disabled", false);
            }); 
        })
    }

    $('document').ready(function (){
        $('.input-qty').bind('input', function(e) {
            let inputObj = e.target
            let qtyid = $(inputObj).data('qty-id')
            window.clearTimeout($(this).data("timeout"));
            $(this).data("timeout", setTimeout(function () {
                // Do your thing here
                $('#qty-button-'+qtyid).show()
            }, 300));
            
        })
        $('.update-qty').on('click', function(e){
            e.preventDefault()
            let qtyid = $(this).data('qty-id')
            let inputObj = $('#qty-'+qtyid)

            $(inputObj).prop("disabled", true);
            $('body').addClass("loading");
            // ubah qty di server
            updateQty(this)
            //$(inputObj).attr('data-server')
            setTimeout(function () {
                $('body').removeClass("loading");
            }, 300)
            $(inputObj).prop("disabled", false);
            $('#qty-button-'+qtyid).hide()
            
            //console.log($('#qty-button-'+qtyid))
            //$(inputObj).prop("disabled", false);
        })

        $('.cancel-qty').on('click', function(e){
            e.preventDefault()
            let qtyid = $(this).data('qty-id')
            let inputObj = $('#qty-'+qtyid)
            let oldval = $(inputObj).attr('data-server-qty')
            $(inputObj).val(oldval)
            $('#qty-button-'+qtyid).hide()
            
        })

        $('.btn-modal-hapus').on('click', function(e){
            let id_item = $(this).data('item-keranjang')
            console.log(id_item)
            $('#btn-hapus').attr('data-item-keranjang', id_item)
        })

        // delete item di keranjang
        $('#btn-hapus').on('click', function(){
            $('body').addClass("loading");
            let csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val()
            let id_item_keranjang = $(this).data('item-keranjang')
            setTimeout(function () {
                $('#modalhapus').modal('hide')
                $.ajax({
                    url: `{% url 'keranjang_ajax' 'delete' %}`,
                    type: 'POST',
                    data:{
                        csrfmiddlewaretoken: csrfmiddlewaretoken,
                        id_item_keranjang: id_item_keranjang
                    },
                    success: function(data) {
                        if (data['status'] === 200) {
                            $(`#row-item-keranjang-${id_item_keranjang}`).remove()
                        }
                        updateRupiah($('#total-keranjang'), data['total'])
                        $('#jumlah-item').text(data['jumlah_item'])
                    },
                    error: function(){
                        alert('Terjadi kesalahan saat menghapus item')
                    }
                });
                $('body').removeClass("loading");
            }, 600)
        })

    })
</script>
{% endblock %}
