{% block content %}
<div class="produk col-lg-2 col-md-3 col-sm-4 col-6 mb-4 py-3" >
	<a href="{% url 'detail_product' item.id %}">
		<div class="img-wrapper">
			<img src="{{ item.foto.url }}" style="object-fit: cover;">
		</div>
		<div class="text-center">
			<p class="text-dark nama-produk">{{ item.nama_item }}</p>
			<p class="stars" style="font-size: 11px;">
				<i class="fa fa-star gold-star" aria-hidden="true"></i>
				<i class="fa fa-star gold-star" aria-hidden="true"></i>
				<i class="fa fa-star gray-star" aria-hidden="true"></i>
				<i class="fa fa-star gray-star" aria-hidden="true"></i>
				<i class="fa fa-star gray-star" aria-hidden="true"></i>
			</p>
			<p class="text-danger font-weight-bold" style="font-size: 14px;">
				<span class="convert-rupiah">{{ item.harga }}</span>
			</p>
		</div>
		<div class="d-block">
			<form id="form-keranjang" action="{% url 'keranjang' %}" method="POST">
				{% csrf_token %}
				<input type="text" name="action" id="" value="add" hidden>
				<input type="number" name="qty" id="input-qty" value="1" hidden>
				<input type="text" name="id_item" id="input-id-item" value="{{ item.id }}" hidden>
				<input type="submit" name="submit" value="Beli" class="btn btn-orange2 btn-beli col-9 mx-auto">
			</form>
		</div>
	</a>
</div>
{% endblock %}